@import "~scss/variables";
@import "~scss/mixins";

$padding-summary-card: 22px;

.sw-extension-buy-modal {
    .is--hidden {
        display: none;
    }

    &__variants-selection {
        .sw-extension-buy-modal__variants-card {
            margin-bottom: 16px;
        }
    }

    &__extension-summary {
        display: grid;
        justify-items: center;
        margin-bottom: 24px;
    }

    .sw-extension-icon {
        margin-bottom: 16px;
        width: 72px;
        height: 72px;
    }

    &__extension-summary-name {
        color: var(--color-text-primary-default);
        margin-bottom: 0;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-l;
    }

    &__extension-summary-trial-phase {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: $font-size-xs;
        margin-top: 8px;

        .mt-icon {
            color: $color-shopware-brand-900;
        }
    }

    &__extension-summary-disclaimer {
        color: var(--color-text-secondary-default);
        font-size: $font-size-xs;
        margin-top: 16px;
    }

    &__variants-card {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 12px;
        grid-row-gap: 5px;
        border: 1px solid $color-gray-300;
        border-radius: $border-radius-default;
        padding: 16px;
        cursor: pointer;

        &.is--selected {
            border: 1px solid $color-shopware-brand-500;
            background: $color-module-blue-50;
        }

        label {
            cursor: pointer;
        }

        & > * {
            font-size: $font-size-xs;
            grid-column: 2;
        }

        .sw-extension-buy-modal__rent {
            color: var(--color-text-secondary-default);
            line-height: $line-height-md;

            strong {
                color: var(--color-text-primary-default);
            }
        }
    }

    &__variants-card-input {
        align-self: center;
        grid-column: 1;
    }

    &__variants-card-badge {
        background-color: #6c87ac;
        border-radius: $border-radius-pill;
        color: $color-white;
        display: inline-block;
        font-size: $font-size-xxs;
        font-weight: $font-weight-medium;
        grid-column: 3;
        grid-row: 1;
        height: $line-height-xs;
        line-height: $line-height-xs;
        margin-right: 2px;
        padding: 0 5px;

        &.sw-extension-buy-modal__variants-card-badge-discounted {
            background-color: $color-crimson-400;
        }
    }

    &__variant-description {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-s;
    }

    &__list-price {
        font-weight: $font-weight-bold;
        font-size: 16px;
    }

    .is--discounted {
        color: $color-crimson-400;

         .sw-extension-buy-modal__list-price {
             text-decoration: line-through;
             margin-right: 4px;
             font-weight: $font-weight-regular;
             font-size: $font-size-xs;
        }

        .sw-extension-buy-modal__discounted-price {
            font-weight: $font-weight-bold;
            font-size: $font-size-s;
        }
    }

    &__variant-summary {
        margin-bottom: 16px;
        border-bottom: 1px solid $color-gray-300;
        color: $color-gray-500;
        font-size: $font-size-xs;
        padding: 16px 0;
        text-align: right;

        .sw-extension-buy-modal__variant-summary-price-subline {
            font-size: $font-size-xs;
            color: $color-darkgray-200;
            line-height: var(--font-line-height-xs);
        }
    }

    &__variant-summary-price {
        display: flex;
        font-size: $font-size-l;
        justify-content: space-between;
        align-items: flex-end;
        color: $color-darkgray-500;
        margin-bottom: 4px;
    }

    &__variant-summary-actual-price {
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
    }

    &__plus-vat,
    &__general-text-block {
        font-size: $font-size-xxs;
        color: $color-darkgray-200;
        line-height: $line-height-xs;
        margin-bottom: var(--scale-size-16);
    }

    &__content-installed {
        text-align: center;

        .sw-circle-icon {
            margin: 16px auto;
        }

        h3 {
            margin-bottom: 0.5em;
        }

        p {
            color: $color-gray-500;
        }

        .mt-button {
            margin-top: 16px;
        }
    }

    .mt-field--checkbox {
        margin-bottom: 16px;
    }

    &__checkbox {
        margin-bottom: var(--scale-size-16);
        font-size: $font-size-xs;

        .mt-field--checkbox__content {
            align-items: inherit;

            .mt-field__label {
                display: block;

                .mt-button {
                    background: none;
                    border: none;
                    padding: 0;
                    margin-bottom: 4px;
                    color: $color-shopware-brand-500;
                    font-weight: $font-weight-regular;
                    text-decoration: underline;
                    line-height: inherit;
                }
            }
        }
    }

    &__variant-text-block {
        font-size: $font-size-xs;
        line-height: 22px;
        margin-top: 5px;
    }

    .mt-field__label .is--required::after {
        display: none;
    }

    &__external-link {
        color: $color-shopware-brand-500;

        .sw-icon {
            height: 10px;
            width: 16px;
            margin-bottom: 2px;
        }
    }
}
