@import '~scss/variables';

.sw-dashboard-statistics-promotion-card {
    container-type: inline-size;
    margin: 32px auto;

    .sw-card__content {
        padding: 0;
    }

    .sw-card__content h3 {
        font-weight: $font-weight-bold;
    }

    &__advertisement {
        background: linear-gradient(#003075, #0156D0);
        border-radius: $border-radius-lg $border-radius-lg 0 0;
        display: grid;

        &__details {
            color: white;
            padding: 40px 24px;
            grid-column: 1;

            &__badge {
                color: black;
                font-size: $font-size-xxs;
                line-height: $line-height-xs;
                font-weight: $font-weight-semi-bold;
                background-color: var(--color-background-positive-default);
                display: inline-block;
                padding: 5px 10px;
                border-radius: $border-radius-md;
                margin-bottom: 20px;
            }

            &__title {
                color: white;
            }
        }

        &__graph {
            grid-column: 2;
            position: relative;
            width: 372px;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        @container (max-width: 750px) {
            display: block;

            &__details {
                display: block;
            }

            &__graph {
                display: block;
                width: 100%;
                height: 233px;
            }
        }
    }

    &__app-card div {
        display: inline-block;
    }

    &__app-card {
        display: inline-block;
        width: 100%;
        padding: 16px 20px;

        &__app {
            float: left;
            margin-right: 10px;

            &__icon {
                height: 64px;
                width: 64px;
                border-radius: $border-radius-md;
                margin-right: 16px;
                float: left;
            }

            &__info {
                float: left;
                margin-top: 5px;

                &__name {
                    color: black;
                    margin-bottom: 10px;
                }
            }
        }

        &__go-to-app {
            float: right;
            margin-top: 14px;
        }

        @container (max-width: 500px) {
            &__app {
            }

            &__go-to-app {
                float: left;
            }
        }
    }
}
