/.idea/
/.psh.yaml.override
/.php_cs.cache
/vendor
/var
/phpstan.neon

### misc
.DS_Store
/composer.lock
/src/Resources/app/administration/node_modules/
/src/Resources/app/administration/coverage/
/src/Resources/app/administration/eslint.junit.xml

/.phpunit.result.cache
/.php-cs-fixer.cache

#ignore distributed files
/src/Resources/public
