# https://php.watch/articles/composer-gitattributes

# Folders
/.github export-ignore
/tests export-ignore
/src/Resources/app/administration/internal-rules export-ignore

# Files
/src/Resources/app/administration/.eslintignore export-ignore
/src/Resources/app/administration/.eslintrc.js export-ignore
/src/Resources/app/administration/jest.config.js export-ignore
/.gitlab-ci.yml export-ignore
/CHANGELOG_de-DE.md export-ignore
/CHANGELOG_en-GB.md export-ignore
/phpunit.xml export-ignore
/README.md export-ignore
/phpstan.neon.dist export-ignore
