variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: "tcp://docker:2375"
    PLATFORM_BRANCH: trunk
    MYSQL_ROOT_PASSWORD: root
    DATABASE_URL: 'mysql://root:root@mysql:3306/shopware'
    WEB_DOCUMENT_ROOT: $CI_PROJECT_DIR/public
    FEATURE_ALL: major
    PLUGIN_NAME: SwagExtensionStore
    APP_SECRET: NotSoSecret
    APP_URL: 'http://localhost:8000'

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "6.4"'
      variables:
        PLATFORM_BRANCH: "6.4"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /1\.*/'
      variables:
        PLATFORM_BRANCH: "6.4"
    - when: always

stages:
    - Testing
    - Deploy

default:
    image: shopware/development:8.1-composer-2
    tags:
        - t3.nano
    before_script:
        - zip -rq plugin.zip .
        - mv plugin.zip /tmp/plugin.zip
        - rm -Rf .* * || true
        - git clone --branch $PLATFORM_BRANCH https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.shopware.com/shopware/6/product/platform.git .
        - echo $PLATFORM_BRANCH
        - mkdir -p custom/plugins
        - mkdir -p config/jwt
        - unzip -q /tmp/plugin.zip -d custom/plugins/$PLUGIN_NAME
        - composer install -o
        - /entrypoint supervisord > /dev/null 2>&1 &

ESLint:
    stage: Testing
    tags:
        - t3.medium
    script:
        - cd custom/plugins/SwagExtensionStore/src/Resources/app/administration
        - npm ci
        - npm run lint-ci
    artifacts:
        when: always
        paths:
            - custom/plugins/SwagExtensionStore/src/Resources/app/administration/eslint.junit.xml
        reports:
            junit: custom/plugins/SwagExtensionStore/src/Resources/app/administration/eslint.junit.xml

Administration Jest:
    stage: Testing
    timeout: 1h 00m
    tags:
        - t3.medium
    services:
        -   name: mariadb:10.3
            alias: mysql
    script:
        - composer init:db
        - php bin/console plugin:refresh
        - php bin/console plugin:install --activate $PLUGIN_NAME -c
        - npm --prefix $(pwd)/custom/plugins/$PLUGIN_NAME/src/Resources/app/administration/ ci
        - npm --prefix $(pwd)/src/Administration/Resources/app/administration ci
        - ADMIN_PATH=$(pwd)/src/Administration/Resources/app/administration/ npm --prefix $(pwd)/custom/plugins/$PLUGIN_NAME/src/Resources/app/administration/ run unit
    artifacts:
        reports:
            junit: build/artifacts/jest/customized-products.junit.xml

PHPUnit:
    stage: Testing
    timeout: 1h 00m
    tags:
        - t3.medium
    services:
        -   name: mariadb:10.3
            alias: mysql
    script:
        - composer init:db
        - composer npm:admin ci
        - php bin/console plugin:refresh
        - php bin/console plugin:install --activate $PLUGIN_NAME -c
        - ./vendor/bin/phpunit -c $(pwd)/custom/plugins/$PLUGIN_NAME/phpunit.xml


Build Zip:
    stage: Deploy
    tags:
        - t3.medium
    image:
        name: ghcr.io/friendsofshopware/platform-plugin-dev:v6.4.0
        entrypoint: [""]
    variables:
        GIT_DEPTH: 0
    before_script: []
    script:
        - start-mysql
        - ln -s "$(pwd)" "/plugins/${CI_PROJECT_NAME}"
        - npm install --prefix src/Resources/app/administration/
        - pack-plugin "${CI_PROJECT_NAME}"
        - plugin-uploader ext:validate "$(realpath "SwagExtensionStore.zip")"
    artifacts:
        paths:
            - SwagExtensionStore*.zip

Upload Zip to Store:
    stage: Deploy
    when: manual
    image:
        name: ghcr.io/friendsofshopware/platform-plugin-dev:v6.4.0
        entrypoint: [""]
    variables:
        GIT_DEPTH: 0
    before_script: []
    script:
        - start-mysql
        - ln -s "$(pwd)" "/plugins/${CI_PROJECT_NAME}"
        - npm install --prefix src/Resources/app/administration/
        - pack-plugin "${CI_PROJECT_NAME}"
        - plugin-uploader ext:upload "$(realpath "SwagExtensionStore.zip")"

Update Store Information:
    stage: Deploy
    image:
        name: ghcr.io/friendsofshopware/platform-plugin-dev:v6.4.0
        entrypoint: [""]
    variables:
        GIT_DEPTH: 0
    before_script: []
    script:
        - plugin-uploader ext:update .
