.sw-in-app-purchase-checkout-subscription-change {
  padding: var(--scale-size-16);
  background-color: var(--color-background-brand-default);
  border: 1px solid var(--color-shopware-brand-900);
  border-radius: var(--border-radius-default);
  display: flex;
  flex-direction: column;
  gap: var(--scale-size-24);
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--scale-size-16);
  }

  &__plan-price, &__due-day {
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-m);
  }

  &__plan-name {
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
    gap: var(--scale-size-4);
    align-items: center;
    flex: 1;
  }

  &__current-plan, &__new-plan {
    color: var(--color-text-secondary-default);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  &__due-day {
    margin-top: var(--scale-size-16);
    font-weight: var(--font-weight-semibold);
  }

  &__note, &__info-hint {
    color: var(--color-text-secondary-default);
  }

  &__divider {
    border-bottom: 1px solid var(--color-shopware-brand-900);
  }

  &__access-grant-hint.mt-banner {
    width: 100%;
    padding: var(--scale-size-16);
    margin: 0;

    strong {
      font-weight: var(--font-weight-semibold);
    }
  }
}
