<sw-card
    v-if="showBanner"
    class="sw-extension-store-statistics-promotion-card"
>
    <h3 class="sw-extension-store-statistics-promotion-card__title">
        {{ $tc('title') }}
    </h3>

    <sw-button
        class="sw-extension-store-statistics-promotion-card__cta"
        variant="ghost"
        style="background-color: white"
        :disabled="!linkToStatisticsAppExists"
        @click="goToStatisticsAppDetailPage"
    >
        {{ $tc('cta') }} <sw-icon name="regular-long-arrow-right" size="12px" />
    </sw-button>
</sw-card>
