@import "~scss/variables";
@import "~scss/mixins";

.sw-extension-listing-card {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    cursor: pointer;
    border-radius: $border-radius-lg;
    transition: box-shadow .15s ease;

    @include drop-shadow-default;

    &:hover {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 8%), 0 2px 1px rgba(0, 0, 0, 6%), 0 1px 6px rgba(0, 0, 0, 10%);

        .sw-extension-listing-card__info-name {
            color: $color-shopware-brand-500;
        }
    }

    &__extension-type-label {
        position: absolute;
        bottom: 8px;
        right: 8px;
    }

    .sw-extension-listing-card__info-grid {
        background: #fff;
        padding: 16px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto auto 1fr;
        grid-row-gap: 4px;
        grid-template-areas:
            "icon"
            "name"
            "rating"
            "label-display"
            "description"
            "price";
        height: 254px;

        .sw-extension-listing-card__info-icon {
            border-radius: 8px;
            grid-area: icon;
            height: 56px;
            margin-bottom: 16px;
            width: 56px;
        }

        .sw-extension-listing-card__info-name {
            grid-area: name;
            font-size: $font-size-xs;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-xs;
            margin-bottom: 2px;
            transition: color .15s ease;

            @include truncate;
        }

        .sw-extension-listing-card__info-rating {
            grid-area: rating;
            display: flex;
            align-items: center;
            font-size: $font-size-xxs;

            & > * {
                margin-right: 1ex;
            }

            .sw-extension-rating-stars__star {
                cursor: pointer;
            }

            &-count {
                color: $color-gray-500;
                margin-top: 2px;
            }
        }

        .sw-extension-listing-card__label-display {
            grid-area: label-display;
            margin-bottom: 4px;
            margin-top: 4px;
        }

        .sw-extension-listing-card__info-description {
            $line-height-description: $line-height-xs;

            grid-area: description;
            font-size: $font-size-xxs;
            line-height: $line-height-description;
            height: calc($line-height-description * 2);
            overflow: hidden;
            position: relative;
            margin-bottom: 4px;

            &::after {
                content: '';
                display: block;
                height: $line-height-description;
                background: linear-gradient(90deg, rgba($color-white, 0), $color-white);
                width: 40%;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .sw-extension-listing-card__info-price {
            color: var(--color-text-secondary-default);
            grid-area: price;
            font-size: $font-size-xxs;

            strong {
                color: var(--color-text-primary-default);
                font-size: $font-size-xs;
                font-weight: $font-weight-semi-bold;
            }

            &-badge-sale {
                background-color: $color-crimson-400;
                border-radius: $border-radius-pill;
                color: $color-white;
                display: inline-block;
                font-weight: $font-weight-medium;
                height: $line-height-xs;
                line-height: $line-height-xs;
                margin-right: 2px;
                padding: 0 5px;
            }

            &-discounted {
                strong {
                    color: $color-crimson-400;
                }
            }
        }
    }
}
