<div class="sw-extension-store-offline-error">
    <sw-label appearance="pill"
              variant="danger">
        <sw-icon name="default-badge-error"
                 size="30px"
        ></sw-icon>
    </sw-label>

    <h2>
        {{ $tc('sw-extension-store.offline.headline') }}
    </h2>

    <p>
        {{ $tc('sw-extension-store.offline.description') }}
    </p>
</div>
