@import '~scss/variables';

.sw-extension-store-purchase-confirmation-permissions {
    display: flex;
    flex-direction: column;

    &__intro {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;

        &-extension {
            align-items: center;
            display: flex;
            gap: 12px;

            &-icon {
                background-color: var(--color-background-brand-default);
                border-radius: $border-radius-md;
                color: var(--color-interaction-primary-pressed);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 56px;
                overflow: hidden;
                width: 56px;
            }

            &-title {
                display: flex;
                flex-direction: column;

                &-name {
                    color: var(--color-text-primary-default);
                    font-size: var(--font-size-m);
                    font-weight: var(--font-weight-bold);
                    line-height: var(--font-line-height-m);
                }

                &-label {
                    color: var(--color-text-secondary-default);
                    font-size: var(--font-size-xs);
                    line-height: var(--font-line-height-xs);
                }
            }
        }

        &-description {
            p {
                color: var(--color-text-secondary-default);
                font-size: var(--font-size-xs);
                line-height: var(--font-line-height-xs);
            }
        }
    }

    &__table {
        background-color: var(--color-elevation-surface-sunken);
        border-collapse: collapse;
        border-spacing: unset;
        border-top: 1px solid #e2e3e9;
        font-size: var(--font-size-xs);

        .sw-extension-store-purchase-confirmation-permissions__operations {
            border-bottom: 1px solid #e2e3e9;
            display: block;
            top: 0;
            position: sticky;
            background: #fff;

            tr {
                &.sw-extension-store-purchase-confirmation-permissions__grid-columns {
                    padding: 18px 24px 18px 44px;
                }

                td {
                    &.sw-extension-store-purchase-confirmation-permissions__operation-header {
                        color: var(--color-text-secondary-default);
                        font-size: var(--font-size-xs);
                        line-height: var(--font-line-height-xs);
                        text-align: center;
                    }
                }
            }
        }

        tbody {
            tr {
                &:last-child {
                    padding-bottom: 22px;
                }
            }
        }

        tr {
            padding: 0 24px;

            &.sw-extension-store-purchase-confirmation-permissions__category {
                display: grid;
                font-weight: var(--font-weight-bold);
                background: var(--color-elevation-surface-sunken);

                &:not(:first-child) {
                    margin-top: 22px;

                    td {
                        border-top: 1px solid #e2e3e9;
                    }
                }

                td {
                    padding: 16px 0 6px 0;
                }
            }

            &.sw-extension-store-purchase-confirmation-permissions__grid-columns {
                display: grid;
                grid-template-columns: auto repeat(4, 80px);
                padding: 6px 24px 6px 44px;
            }

            td {
                font-size: var(--font-size-s);
                line-height: var(--font-line-height-s);

                &.sw-extension-store-purchase-confirmation-permissions__operation {
                    text-align: center;

                    &.sw-extension-store-purchase-confirmation-permissions__operation-positive {
                        color: var(--color-icon-positive-default);
                    }

                    &.sw-extension-store-purchase-confirmation-permissions__operation-negative {
                        color: var(--color-icon-secondary-default);
                    }
                }
            }
        }
    }

    &__domains {
        border-top: 1px solid #e2e3e9;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 24px;

        &-label {
            color: var(--color-text-primary-default);
            font-size: var(--font-size-s);
            font-weight: var(--font-weight-bold);
            line-height: var(--font-line-height-s);
        }

        &-description {
            p {
                color: var(--color-text-secondary-default);
                font-size: var(--font-size-xs);
                line-height: var(--font-line-height-xs);
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &-items {
                list-style: none;

                li {
                    font-size: var(--font-size-xs);
                    line-height: var(--font-line-height-xs);
                    padding: 10px 0;

                    &:not(:last-child) {
                        border-bottom: 1px solid #e2e3e9;
                    }
                }
            }
        }
    }

    &__footer {
        border-top: 1px solid #e2e3e9;
        display: flex;
        justify-content: center;
        padding: 24px;
    }
}
