<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Extension Store</title>
        <input-field type="text">
            <name>iframeUrl</name>
            <label>iFrame URL</label>
        </input-field>
    </card>
</config>
