@import "~scss/variables";

.sw-extension-store-listing {
    margin: 0 auto;
    max-width: 960px;
    position: relative;

    .sw-extension-store-listing__banner {
        margin-bottom: 40px;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;

        img {
            width: 100%;
        }
    }

    .sw-extension-store-listing__listing-grid {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .sw-pagination {
        border: none;
        background: none;

        .sw-pagination__per-page {
            display: none;
        }
    }

    .sw-loader {
        background: #{$color-gray-50}b3; // 'b3' means 70% opacity ('b3' as hex value is 179, which is 70% of 255)
        min-height: 300px;

        .sw-loader__container {
            position: sticky;
        }
    }

    .sw-extension-store-statistics-promotion {
        margin-bottom: 40px;
    }
}
