{% block sw_extension_store_update_warning %}
    <sw-extension-store-error-card
        variant="info"
        class="sw-extension-store-update-warning"
        :title="$tc('sw-extension-store.updateWarning.headline')"
    >
        <template #default>
            {% block sw_extension_store_update_warning_description %}
                <p>
                    {{ $tc('sw-extension-store.updateWarning.description') }}
                </p>
                <p class="sw-extension-store-update-warning__strong-text">
                    {{ $tc('sw-extension-store.updateWarning.requestDescription') }}
                </p>
            {% endblock %}
        </template>

        <template #actions>
            {% block sw_extension_store_update_warning_actions %}
                <sw-button
                    variant="primary"
                    @click="updateExtension"
                    :isLoading="isUpdating"
                >
                    {{ $tc('sw-extension-store.updateWarning.update') }}
                </sw-button>
            {% endblock %}
        </template>
    </sw-extension-store-error-card>
{% endblock %}
