@import "~scss/variables";

$sw-label-pill-border-radius: 50px;

.sw-extension-label {
    display: inline-block;
    font-size: $font-size-xxs;
    font-weight: $font-weight-medium;
    letter-spacing: 0.08px;
    padding: 2px 5px;
    border-radius: $border-radius-default;
}
