@import "~scss/variables";

.sw-extension-label {
    display: inline-block;
    font-size: $font-size-extra-small;
    font-weight: normal;
    letter-spacing: 0.08px;
    padding: 2px 5px;
    border-radius: 2px;
}
