@import "~scss/variables";

.sw-extension-store-listing-banner {
    cursor: pointer;
    border-radius: 6px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;

    .sw-meteor-card__content .sw-meteor-card__content-wrapper {
        padding: 0;
    }

    &__container {
        min-height: 167px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1009px) { // regarding the opened admin menu
            background-image: none !important;
        }
    }

    &__content {
        padding: 32px;
        max-width: 500px;

        h3 {
            margin-bottom: 8px;
        }
    }

    &__cta {
        font-weight: $font-weight-semi-bold;
        margin-top: 8px;
    }
}
